div{
    border: 1px solid yellow;
    color: blue;
    font-size: 30px;
}
span{
    border: 5px dashed blue;
    color: yellow;
    font-size: 20px;
}
#001{
    border: 1px solid yellow;
    color: blue;
    font-size: 10px;
}
#002{
    border: 3px dot-dash blue;
    color: yellow;
    font-size: 20px;
}